.App {
  height: 100vh;
  text-align: center;
  color: #2d2d2d;
  background-color: #121f3d;
}

.Message-form input {
  padding: 10px;
  border: none;
}

.Message-form button {
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin: 0 5px;
}
