.Messages {

}

.Message {
    width: fit-content;
    background-color: #5EAFFF;
    color: #022140;
    padding: 5px 10px;
    border-radius: 5px 5px 0 5px;
    margin: 5px 0;
}

.Message-user {
    font-size: 0.8em;
    color: #022140;
}

.Message-text {
    margin-top: 5px;
    text-align: left;
}